

parameters:
    database_driver: pdo_mysql
    database_host: donnersd.mysql.db.internal
    database_port: null
    database_name: donnersd_doccondev
    database_user: donnersd_sf2
    database_password: sensio
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    locale: en
    secret: 74756756
